<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae id, ullam esse reprehenderit numquam iusto maiores adipisci non quod laborum eveniet error laboriosam nemo. Ducimus in fugiat nobis voluptatem!</p>
