<h1>Heroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">

  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion | date:'MM-yyyy' }}</small></p>

      <button
        (click)="verHeroe(heroe.nombre)"
        type="button"
        class="btn btn-outline-primary btn-block">
          Ver Más...
      </button>
      <!-- <a 
        class="btn btn-outline-primary"
        [routerLink]="['/heroe',i+1]">
          Ver más link...
      </a> -->
    </div>
  </div>

</div>