<h1 class="animated fadeIn">{{ heroe.nombre | uppercase	 }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
<hr>
<div class="row animated fadeIn fast">
	<div class="col-4">
		<img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
		<br><br>
		<button [routerLink]="['/heroes']" type="button" class="btn btn-outline-danger btn-block">Regresar</button>
	</div>
	<div class="col-8">
		<h3>{{ heroe.nombre }}</h3>
		<hr>
		<p>
			{{ heroe.bio }}
		</p>
		<div>
			<img class="img-folder" *ngIf="heroe.casa == 'Marvel'" src="assets/img/marvel-folder.png" alt="">
			<img class="img-folder" *ngIf="heroe.casa == 'DC'" src="assets/img/dc-folder.png" alt="">
		</div>
	</div>
</div>